:root {
    --grey: #bfc0c1;
    --sandstone: #D67229;
    --sun: #F7C331;
    --oat: #efe3d3;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    width: 100%;
    display: flex;
}

.hdr-aside {
    flex: 2;
}

.hdr-items {
    flex: 1;
}

h1 {
    font-size: 36px;
    padding: 25px;
}

nav ul {
    display: flex;
}

nav li {
    padding-top: 10px;
    margin: 20px;
}

h2 {
    font-size: 26px;
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
}

.about {
    display: flex;
    margin-top: 20px;
}

.about-aside {
    flex: 1;
}

.about-article {
    flex: 2;
}

.work {
    display: flex;
    margin-top: 20px;
}

.work-aside {
    flex: 1;
}

.work-article {
    flex: 2;

}

.work-items {
    display: flex;

}

.work-items img {
    padding: 10px;
}

footer {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.ft-aside {
    flex: 1;
}

.ft-section {
    flex: 2;
}

.ft-items ul {
    display: flex;
    justify-content: space-evenly;
}

.ft-items li {
    padding-top: 10px;
}