:root {
    --blue: #004568;
    --mint: #DCE1BD;
    --lightgrey: #F2F2F2;
    --darkblue: #31475E;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header begins */
header {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: var(--blue);
}

.hdr-aside {
    flex: 2;
}

.hdr-items {
    flex: 1;
}

h1 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 26px;
    margin: 10px;
    font-weight: bold;
    color: var(--darkblue);
    background-color: var(--mint);
    border-radius: 50%;
}

nav ul {
    display: flex;
}

nav li {
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--mint);
    padding: 7px;
}

nav a:hover {
    background-color: var(--mint);
    color: var(--blue);
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
}

/* sub-header section begins */
.sub-hdr {
    background-color: var(--blue);
}

.sub-hdr img {
    display: block;
    margin: auto;
    width: 50%;
    max-width: 550px;
    height: auto;
}

/* main section begins */
h2 {
    font-size: 26px;
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
    color: var(--darkblue);
}

p {
    color: var(--darkblue);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}

.about-container {
    display: flex;
    margin-top: 20px;
}

.about-aside {
    flex: 1;
    border-right: var(--darkblue) solid 3px;
    margin-right: 15px;
    min-width: 150px;
}

.about-article {
    flex: 2;
    padding-right: 10px;
}

.work-container {
    display: flex;
    margin-top: 20px;
}

.work-aside {
    flex: 1;
    border-right: var(--darkblue) solid 3px;
    margin-right: 15px;
    min-width: 150px;
}

.work-images {
    flex: 2;
}

.work-items {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

.main-item {
    position: relative;
    margin-right: 25px;
}

.main-item img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
}

.main-item img:hover {
    -ms-transform: scale(0.9);
    /* IE 9 */
    transform: scale(0.9);
}

.work-items figure {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-basis: calc(50% - 20px);
    position: relative;
}

.work-items img {
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.work-items img:hover {
    -ms-transform: scale(0.9);
    /* IE 9 */
    transform: scale(0.9);
}

.hdr-tag {
    position: absolute;
    bottom: 35px;
    left: 14px;
    width: 120px;
    font-size: 14px;
    color: var(--lightgrey);
    background-color: var(--darkblue);
    padding: 5px;
}

.tag {
    position: absolute;
    bottom: 15px;
    left: 14px;
    width: 120px;
    font-size: 10px;
    color: var(--lightgrey);
    background-color: var(--darkblue);
    padding: 5px;
}

.hdr-tag-right {
    position: absolute;
    bottom: 35px;
    right: 14px;
    width: 120px;
    font-size: 14px;
    color: var(--lightgrey);
    background-color: var(--darkblue);
    padding: 5px;
}

.tag-right {
    position: absolute;
    bottom: 15px;
    right: 14px;
    width: 120px;
    font-size: 14px;
    color: var(--lightgrey);
    background-color: var(--darkblue);
    padding: 5px;
}

/* footer begins */
footer {
    display: flex;
    margin-top: 20px;
    height: 50px;
}

.ft-aside {
    flex: 1;
    border-right: var(--darkblue) solid 3px;
    margin-right: 15px;
    min-width: 150px;
}

.ft-section {
    flex: 2;
}

.ft-items ul {
    display: flex;
    justify-content: space-evenly;
}

.ft-items li {
    padding-top: 10px;
}

.ft-items a {
    text-decoration: none;
    color: var(--blue);
    padding: 7px;
}

.ft-items a:hover {
    background-color: var(--blue);
    color: var(--mint);
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
}